QListWidget {
    border: rgb(100, 100, 100);
    border: 20px, rgb(100, 100, 100);
    border-radius: 10px;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}

QCheckBox {
    color: whitesmoke;
}

QLabel{
    color: whitesmoke;
}

QLineEdit {
    border: 20px rgb(100, 100, 100);
    border-radius: 10px;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}
.QWidget {
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}
.QDialog {
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}
QMenuBar {
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}
QMenuBar::item {
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}
QMenuBar::item::selected {
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}
QMenu {
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}
QMenu::item::selected {
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}
QComboBox {
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}
QComboBox QAbstractItemView {
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}
QPushButton {
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}
QMessageBox {
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}
QProgressBar {
    color: whitesmoke;
}

QTabWidget::pane {
    border: 1px solid rgb(39, 39, 39);
    top:-1px; 
    background: rgb(39, 39, 39);
} 
  
QTabBar::tab {
    background: rgb(29, 29, 29);
    border: 1px solid rgb(29, 29, 29);
    padding: 5px;
    color: whitesmoke;
} 
  
QTabBar::tab:selected { 
    background: rgb(39, 39, 39);
    margin-bottom: -1px; 
}

QTabBar::scroller {
    width: 25px;
}

QTabBar QToolButton {
    background-color: rgba(39, 39, 39, 1);
    border:0;
}