QListWidget {
    border: rgb(100, 100, 100);
    border: 20px, rgb(100, 100, 100);
    border-radius: 10px;
    background-color: red;
    color: black;
}
QCheckBox {
    color: black;
}

QLabel{
    color: black;
}

QLineEdit {
    border: 20px rgb(100, 100, 100);
    border-radius: 10px;
    background-color: white;
    color: black;
}
.QWidget {
    background-color: green;
    color: black;
}
.QDialog {
    background-color: green;
    color: black;
}
QMenuBar {
    background-color: green;
    color: white;
}
QMenuBar::item {
    background-color: green;
    color: white;
}
QMenuBar::item::selected {
    background-color: red;
    color: white;
}
QMenu {
    background-color: green;
    color: white;
}
QMenu::item::selected {
    background-color: red;
    color: white;
}
QComboBox {
    background-color: red;
    color: white;
}
QComboBox QAbstractItemView {
    background-color: red;
    color: white;
}
QPushButton {
    background-color: red;
    color: white;
}
QMessageBox {
    background-color: green;
    color: white;
}
QProgressBar {
    color: white;
}
QTabWidget::pane {
    border: 1px solid green;
    top:-1px; 
    background: green
} 
  
QTabBar::tab {
    background: red;
    border: 1px solid red;
    padding: 5px;
    color: whitesmoke;
} 
  
QTabBar::tab:selected { 
    background: green;
    margin-bottom: -1px; 
}

QTabBar::scroller {
    width: 25px;
}

QTabBar QToolButton {
    background-color: rgba(0, 255, 0, 1);
    border:0;
}